@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Montserrat',sans-serif;
    
    

}

.wrapper{
    width:100%;
    height:100%;
    background-image: url("wallpaper_pic3.jpg");

}

.top_navbar{
    background:#ffffff;
    height:60px;
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow:0 0 50px rgba(105, 105, 105, 0.5);
}

.top_navbar .hamburger{
    width:80px;
    background:#ffffff;
    position:relative;
    font-size:28px;
}

.top_navbar .hamburger .hamburger_inner{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    cursor:pointer;
    width:40px;
    height:20px;

}

.top_navbar .hamburger .hamburger_inner >div{
    width:30px;
    height:4px;
    background:rgb(255, 58, 58);
    position:absolute;
    top:0;
    left:0;
}

.top_navbar .hamburger .hamburger_inner div.two{
    top:10px;
    width:40px;

}
.top_navbar .hamburger .hamburger_inner div.three{
    top:20px;

}

.top_navbar .menu{
    width:calc(100%-80%);
    height:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 20px;
}

.top_navbar .menu .logo{
    color:rgb(255, 58, 58);
    text-transform:uppercase;
    letter-spacing: 2px;

}

.top_navbar .menu .right_menu ul li{
    position:relative;
}

.top_navbar .menu .right_menu ul li .fas{
    font-size:22px;
    cursor:pointer;
    cursor:#004d40;
}

.top_navbar .menu .right_menu ul li .profile_dd{
    position:absolute;
    top:35px;
    right:-10px;
    background:#fff;
    width:180px;
    padding:10px 0;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
    border-radius:3px;
    user-select:none;
    display:none;
}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item{
    padding :10px;
    cursor:pointer;
    cursor:#004d40;

}

.top_navbar .menu .right_menu ul li .profile_dd .dd_item:hover{
    background:#f2e7e0;
}

.top_navbar .menu .right_menu ul li .profile_dd:before{
    content:'';
    position:absolute;
    top:-20px;
    right:10px;
    right:10px;
    border:10px solid;
    border-color:transparent transparent rgb(255, 72, 72) transparent;

}

.top_navbar .menu .right_menu ul li .profile_dd.active{
    display:block;
}

.main_container .sidebar{
    position:fixed;
    top:60px;
    left:0;
    width:225px;
    height:100%;
    background:#ffffff;
    transition:all 0.3s ease;
    box-shadow:0 0 50px rgba(105, 105, 105, 0.5);

}

.main_container .sidebar .sidebar_inner{
    position:relative;

}

.main_container .sidebar .profile{
    display:flex;
    align-items: center;
    color:rgb(7, 7, 7);
    padding:20px 0;
    white-space: nowrap;
    transition:all 0.3s ease;
}

.main_container .sidebar .profile .img{
    padding:0 18px;

}


.main_container .sidebar .profile .img img{
    width:45px;

}

.main_container .sidebar .profile p:first-child{
    font-size:14px;
    color:#ff0000;
    margin-bottom:3px;
}

.main_container .sidebar ul li a{
    color:rgb(0, 0, 0);
    font-size:18px;
    padding:20px;
    display:flex;
    align-items: center;
    margin-bottom:1px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.main_container .sidebar ul li a .icon{
    margin-right:15px;
    font-size:28px;

}

.main_container .sidebar ul li a span{
    display: inline-block;
}

.main_container .sidebar ul li a:hover,
.main_container .sidebar ul li a.active{
    background:rgb(255, 87, 87);
    color:#ffffff;
}

.main_container .container{
    margin-top:60px;
    width:calc(100%-225px);
    margin-left:225px;
    margin-right: 125px;
    padding:3px;
    transition: all 0.3s ease;

}


.main_container .container .item{
    border:0px solid #000000;
    margin-bottom:30px;
    padding:0px;
    line-height:22px;
    margin-top: 50px;
    margin-left: 60px;

}

.main_container .container .item .heading{
    background-color: rgb(255, 87, 87);
    block-size: 90px;
    color: #f2e7e0;
    margin-bottom: 0px;
    font-size: 40px;
    padding:20px;

}

.main_container .container .item .about_img img{
    width:100%;

}


.main_container .container .item .content{
    text-indent: 20px;
    margin-bottom: 0px;
    background-color: rgb(189, 189, 189);

}


.wrapper.active .sidebar{
    width:80px;
}

.wrapper.active .sidebar ul li a span.title,
.wrapper.active .sidebar .profile_info{
    display:none;
}

.wrapper.active .main_container .container{
    width:calc(100%-80px);
    margin-left :80px;

}

body{
    background:linear-gradient(90deg,hsl(255,255,255)(4px),transparent 1%
    )
    center,
    linear-gradient(hsl(255,255,255)(5px-1px),transparent 1%) center,
    hsl(16,100,50);
    background-size: 5px 1px;
}

